<template>
    <div>
        <h2>Composition API</h2>
        <h2>{{ greetingMsg }} {{ greetingUser }}</h2>
    </div>
</template>

<script>
import { ref } from 'vue'
export default {
    setup () {
        const greeting = ref({msg:"Hello", user:'Mark'})
        setTimeout(()=> {
            greeting.value.msg = 'Hello there'
            greeting.value.user = 'Ohm'
        }, 3000)
        return {
            greetingMsg: greeting.value.msg,
            greetingUser: greeting.value.user,
        }
    },
}
</script>

<style lang="scss" scoped>

</style>