<template>
    <div>
        <h2>Optional API</h2>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                
            }
        },
    }
</script>

<style lang="scss" scoped>

</style>