<template>
  <div>
    <h2>{{ greeting }}</h2>
    <h2>{{ user }} {{ user }}</h2>
    <p><button @click="newGreeting1">Regular function</button></p>
    <p><button @click="newGreeting2">Anonymous function</button></p>
    <p><button @click="newGreeting3">Arrow function</button></p>
    <p>{{ sayHi }}</p>
    <p><input type="text" @input="setFirstName"></p>
  </div>
</template>

<script>
import { ref, computed } from "vue";
export default {
  setup() {
    const greeting = ref("Hello World");
    const user = ref({ firstName: "", lastName: "" });

    const setFirstName = ($event) => {
      user.value.firstName = $event.target.value;
    };
    // computed
    const sayHi = computed(()=> {
        return 'Hi  ' + user.value.firstName
    })
    //Regular function
    function newGreeting1() {
      greeting.value = "Hi James";
    }
    //Anonymous function
    const newGreeting2 = function () {
      greeting.value = "Hi Mark";
    };
    //Arrow function
    const newGreeting3 = () => {
      greeting.value = "Hi YO";
    };
    return {
      greeting,
      newGreeting1,
      newGreeting2,
      newGreeting3,
      setFirstName,
      sayHi,
    };
  },
};
</script>

<style lang="scss" scoped></style>
