<template>
  <div>
    <h2>Two-way</h2>
    <p>{{ user.firstName }} {{ user.lastName }}</p>

    First Name:
    <input type="text" v-model="user.firstName" placeholder="First Name" /> 
    Last Name: <input type="text" v-model="user.lastName" placeholder="Last Name" />
  </div>
</template>

<script>
import { ref,watch } from 'vue';
    export default {
        setup() {
            // const firstName = ref('')
            // const lastName = ref('')
            const user = ref({firstName:'',lastName:''})
            watch(
            [
                ()=>user.value.firstName,
                ()=>user.value.lastName
            ],(newValue, oldValue) =>{
                console.log('New Value',newValue[0])
                console.log('old Value',oldValue[0])
                console.log('New Value',newValue[1])
                console.log('old Value',oldValue[1])
            })
            return { user }
        }
    }
</script>

<style lang="scss" scoped></style>
