<template>
  <div>
    <router-link :to="{ name:'Home' }">Home Page</router-link> |
    <router-link :to="{ name:'About' }">About Page</router-link> |
    <router-link :to="{ name:'OptionAPI' }">Option Page</router-link> |
    <router-link :to="{ name:'CompositionAPI' }">Composition Page</router-link> |
    <router-link :to="{ name:'ReactiveView' }">Reactive Page</router-link> |
    <router-link :to="{ name:'Twoway' }">Twoway Page</router-link> 
  </div>
  <router-view></router-view>
</template>

<script setup>

</script>

<style scoped>
*{
  text-align: center;
}
.router-link-exact-active{
  text-decoration: none;
  color: green;
}
</style>
